@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  color:#333;
  background:#FFF;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  overflow-x:hidden;
}

a {
  color:#05A;
  text-decoration:none;
}

a:hover { color:#06B; }
a:active { color:#07C; }

.row { margin:12px 0; }
.center { text-align:center; }
.right { float:right; }

.clear { clear:both; }
.clear:after, .main-layer-input:after {
  content:"";
  display:table;
  clear:both;
}

#download-ps4-cover {
  color:#FFF;
  background:#07C;
  border:none;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  padding:15px 20px;
  cursor:pointer;
  outline:none;
}

#download-ps4-cover:hover { background:#06B; }
#download-ps4-cover:focus { background:#05A; }

/* COVER STYLES */
#ps4-cover-photo {
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}


/* DEMO PROFILE */
#ps4-demo-profile {
  position:absolute;
  left:0;
  right:0;
  height:600px;
  margin-top:-604px;
  visibility:visible;
  opacity:1;
  transition:300ms;
}

#ps4-demo-profile.hidden {
  visibility:hidden;
  opacity:0;
}

#overlay-profile {
  height:285px;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background:linear-gradient(to bottom, rgba(51,51,51,0.5) 0%,rgba(51,51,51,1) 100%);
}

#user-info {
  position:absolute;
  left:140px;
}

#avatar {
  margin-top:-70px;
  height:220px;
  width:220px;
  float:left;
}

#username {
  color:#FFF;
  margin-top:25px;
  margin-left:20px;
  float:left;
}

#real-name {
  font-size:38px;
  margin-bottom:10px;
}

#psn {
  font-size:22px;
  font-style:italic;
}


/* COVER TOOLS */
#cover-tools-title {
  color:#FFF;
  background:#333;
  font-size:18px;
  text-align:center;
  text-transform:uppercase;
  border-top:1px solid #222;
  border-bottom:1px solid #222;
  height:30px;
  line-height:30px;
  padding:0 6px;
  position:fixed;
  left:0;
  right:0;
  bottom:350px;
  cursor:pointer;
}

#cover-tools-title:hover { background:#222; }

#cover-tools-offset { margin-bottom:380px; }
#cover-tools {
  height:350px;
  overflow:auto;
  overflow-x:hidden;
  background:#EEE;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
}

#cover-tools, #cover-tools-title, #cover-tools-offset { transition:300ms; }

#cover-tools.hidden { height:0; }
#cover-tools-title.hidden { bottom:0; }
.hidden + #cover-tools-offset { margin-bottom:30px; }

#cover-tools label {
  font-size:16px;
  font-weight:bold;
  text-align:right;
  display:inline-block;
  padding-right:6px;
  width:250px;
  cursor:pointer;
}

#cover-tools label:hover { color:#000; }

.tools-row { margin:12px 0; }
.tools-row:last-child { margin-bottom:0; }
.tools-row:first-child, .tools-row:first-child .tools-title { margin-top:0; }

.tools-title {
  color:#FFF;
  font-size:18px;
  text-transform:uppercase;
  background:#07C;
  padding:12px 6px;
  margin:12px 0;
}

.tools-inner { padding:6px; }

/* layer styles */
.layer-controls { display:inline-block; }

.cover-layer {
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius:10px;
  padding:26px 6px 6px 6px;
  position:relative;
}

.cover-layer:before {
  content:"Layer";
  color:#FFF;
  background:#07C;
  font-size:14px;
  text-transform:uppercase;
  height:30px;
  line-height:30px;
  padding:0 12px 0 24px;
  border-radius:10px 0px 10px 0px;
  position:absolute;
  top:-1px;
  left:-1px;
}

.cover-layer:after {
  content:"\f15b";
  color:#FFF;
  font-size:14px;
  font-family:FontAwesome;
  position:absolute;
  top:6px;
  left:6px;
}

.text-layer:before { content:"Text"; }
.text-layer:after { content:"\f031"; }

.image-layer:before { content:"Image"; }
.image-layer:after { content:"\f1c5"; }

.image-thumb {
  border:1px solid #CCC;
  height:40px;
  width:40px;
  vertical-align:-15px;
  margin-right:3px;
}


/* layer controls */
.main-layer-input { margin-top:10px; }

.layer-controls {
  float:right;
  margin-top:-10px;
}

.layer-controls i {
  color:#333;
  background:#AAA;
  text-align:center;
  display:inline-block;
  margin:3px;
  border-radius:100%;
  font-size:20px;
  line-height:28px;
  height:28px;
  width:28px;
  cursor:pointer;
}

.layer-controls i:hover {
  color:#FFF;
  background:#07C;
}

.layer-controls i:active {
  color:#DDD;
  background:#05A;
}

.arrow-box {
  position:relative;
  display:inline-block;
  height:50px;
  width:50px;
  margin:12px 16px;
  vertical-align:-30px;
}

.arrow-box i { position:absolute; }

.arrow-box .fa-arrow-up {
  top:-15px;
  left:8px;
}

.arrow-box .fa-arrow-down {
  bottom:-15px;
  left:8px;
}

.arrow-box .fa-arrow-left {
  top:8px;
  left:-15px;
}

.arrow-box .fa-arrow-right {
  top:8px;
  right:-15px;
}

/* move layer up / down */
.fa-sort-asc { vertical-align:-4px; }
.layer-controls .fa-sort-asc { line-height:37px }

.fa-sort-desc { vertical-align:4px; }
.layer-controls .fa-sort-desc { line-height:20px }

#cover-layers .tools-row:first-child .fa-sort-asc, #cover-layers .tools-row:last-child .fa-sort-desc {
  display:none;
}

/* delete */
.layer-controls .fa-times:hover {
  color:#FFF;
  background:#F66;
}

.layer-controls .fa-times:active {
  color:#FFF;
  background:#F33;
}

/* add */
.tools-actions span {
  color:#FFF;
  background:#07C;
  border:none;
  font-size:16px;
  text-transform:uppercase;
  display:inline-block;
  height:40px;
  line-height:40px;
  margin:12px 0;
  padding:0px 15px;
  outline:none;
  cursor:pointer;
}

span.tools-add { background:#8B5; }
span.tools-add:hover { background:#7A4; }
span.tools-add:active { background:#693; }

span.tools-delete { background:#E53; }
span.tools-delete:hover { background:#D42; }
span.tools-delete:active { background:#C31; }

.tools-actions span i {
  font-size:20px;
  vertical-align:-2px;
  margin-right:6px;
}


/* text controls */
#cover-tools input:not([type="range"]):not([type="checkbox"]), #cover-tools select, .layer-button {
  color:#333;
  background:#FFF;
  border:1px solid #CCC;
  font-size:16px;
  padding:0 15px;
  margin:3px;
  height:50px;
  line-height:50px;
  outline:none;
  cursor:pointer;
}

#cover-tools select { box-sizing:content-box; }
#cover-tools input[type="text"].big { width:50%; }
.cover-text-color { width:80px; }
input[type="number"] { width:60px; }

.layer-button {
  font-size:26px;
  display:inline-block;
  vertical-align:-4px;
  cursor:pointer;
}

#fontawesome-iconlist {
  background:#FFF;
  border:1px solid #CCC;
  height:160px;
  width:300px;
  overflow:auto;
  overflow-x:hidden;
  position:absolute;
  z-index:1;
}

#fontawesome-iconlist .fa-icon-opt {
  font-size:30px;
  text-align:center;
  width:40px;
  height:40px;
  line-height:40px;
  cursor:pointer;
}

#fontawesome-iconlist .fa-icon-opt:hover {
  background:rgba(0, 0, 0, 0.2)
}


/* header */
header {
  color:#FFF;
  background:#07C;
  padding:15px;
}

header h1 {
  font-size:32px;
  font-family:'Play', Arial;
}

header h1:after {
  content:"Beta";
  color:#FF8;
  font-size:24px;
  font-family:'Coming Soon';
  display:inline-block;
  position:relative;
  top:-15px;
  left:-5px;
  transform:rotate(40deg);
}

header h1 { float:left; }
.header-links {
  margin-top:35px;
  float:right;
}

.header-links a {
  color:#333;
  background:#FFF;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  padding:6px 12px;
  border-radius:3px;
}


/* footer */
footer {
  color:#FFF;
  background:#07C;
  padding:30px 12px;
}

footer#footer-end {
  background:#05A;
  padding:0 12px;
}

footer > div { padding:6px; }

footer a { color:#CCC; }
footer a:hover { color:#FFF; }
footer a:active { color:#FF8; }


/* content body */
.content-block {
  max-width:1000px;
  margin:0 auto;
  padding:15px;
}

.title {
  color:#06B;
  font-size:28px;
}

.title-desc {
  font-size:16px;
}

#preview-title {
  color:#333;
  font-size:32px;
  text-align:center;
}

.bubble {
  color:#FFF;
  background:#333;
  font-size:28px;
  display:inline-block;
  line-height:50px;
  height:50px;
  width:50px;
  border-radius:100%;
  transition:200ms;
}

/* ps buttons */
.ps-button {
  background:#444;
  border-radius:100%;
  display:inline-block;
  height:26px;
  width:26px;
  vertical-align:middle;
  position:relative;
}

.ps-button.sqaure:after {
  content:"";
  border:2px solid #d591bd;
  height:10px;
  width:10px;
  position:absolute;
  top:6px;
  left:6px;
}

/* COLOR PICKER */
.color-inpicker-box {
  display:inline-block;
  border:2px solid rgba(0, 0, 0, 0.2);
  height:20px;
  width:40px;
  vertical-align:middle;
  cursor:pointer;
}

.color-inpicker-box:hover {
  border-color:rgba(0, 0, 0, 0.4);
}

#color-inpicker-box {
  color:#333;
  background:#FFF;
  border:1px solid rgba(0, 0, 0, 0.175);
  box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
  font-size:14px;
  font-weight:bold;
  font-family:Arial;
  position:absolute;
  padding:6px 12px;
  user-select:none;
  z-index:1;
}

#color-inpicker-box .color-inpicker-row { margin:6px 0; }
#color-inpicker-box .color-inpicker-row span { display:inline-block; }

#color-inpicker-box #color-value-red { color:#F00; }
#color-inpicker-box #color-value-green { color:#090; }
#color-inpicker-box #color-value-blue { color:#00F; }

#color-inpicker-box .color-label {
  text-align:right;
  width:60px;
}

#color-inpicker-box .color-bar {
  border:1px solid #CCC;
  width:120px;
  height:20px;
  vertical-align:middle;
  position:relative;
  overflow:hidden;
}

#color-inpicker-box .color-bar-inner {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}

#color-inpicker-box .color-down, #color-inpicker-box .color-up {
  width:0;
  height:0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  margin:0 6px;
  vertical-align:middle;
  cursor:pointer;
}

#color-inpicker-box .color-down {
  border-right:15px solid #999;
}

#color-inpicker-box .color-up {
  border-left:15px solid #999;
}

#color-inpicker-box .color-up:hover { border-left-color:#666; }
#color-inpicker-box .color-down:hover { border-right-color:#666; }

#color-inpicker-box .color-up:active { border-left-color:#333; }
#color-inpicker-box .color-down:active { border-right-color:#333; }

#color-inpicker-box .color-value {
  text-align:center;
  width:30px;
}

#color-value-result {
  height:25px;
  width:100%;
  border:1px solid #CCC;
}


/* IMAGE SELECTOR */
#select-image-overlay {
  background:rgba(0, 0, 0, 0.7);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  cursor:pointer;
}

#select-image-modal {
  background:#FFF;
  border:1px solid #CCC;
  position:fixed;
  top:50px;
  left:50px;
  right:50px;
  bottom:50px;
  z-index:2;
}

#select-image-title {
  color:#FFF;
  text-align:center;
  background:#07C;
  padding:12px;
  margin:-1px -1px 12px -1px;
}

#select-image-container {
  height:90%;
  overflow-x:hidden;
  overflow-y:auto;
}

.select-image-category {
  background:#EEE;
  border:1px solid #CCC;
  text-align:center;
  line-height:160px;
  height:150px;
  width:250px;
  margin:12px;
  display:inline-block;
  cursor:pointer;
}

.select-image-category:hover, .select-image-option:hover {
  opacity:0.7;
}

#select-image-list {
  columns:4;
  column-gap:12px;
  column-fill:balance;
}

.select-image-option {
  width:100%;
  cursor:pointer;
}


/* responsiveness */
@media (max-width:720px) {
  header, footer { text-align:center; }
  footer > div, header > * { float:none !important; }
}

@media (max-height:800px) {
  #cover-tools-title { bottom:300px; }
  #cover-tools { height:300px; }
  #cover-tools-offset { margin-bottom:330px; }
}
