body {
  color:#333;
  background:#FFF;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

#content { flex:1 0 auto; }
#font-preloader {
  visibility:hidden;
  overflow:hidden;
  height:0;
}

a {
  color:#05A;
  text-decoration:none;
}

a:hover { color:#06B; }
a:active { color:#049; }

.row { margin:12px 0; }
.center { text-align:center; }
.left { float:left; }
.right { float:right; }

.clear { clear:both; }
.clear:after, .main-layer-input:after {
  content:"";
  display:table;
  clear:both;
}

.button, a.button {
  color:#FFF;
  background:#07C;
  border:none;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  display:inline-block;
  padding:15px 20px;
  cursor:pointer;
  outline:none;
}

.button:hover, a.button:hover { background:#06B; }
.button:focus, a.button:focus { background:#05A; }

/* hide ps4 specific hints on PC */
.ps4-hint { display:none; }
.isPS4 .ps4-hint { display:initial; }

/* COVER STYLES */
#cover-image-box {
  position:relative;
  overflow:hidden;
}

#ps4-cover-photo {
  border:1px solid #000;
  box-sizing:border-box;
  display:block;
  margin:0 auto;
}


/* DEMO PROFILE */
#ps4-demo-profile {
  position:absolute;
  top:1px;
  left:0;
  right:0;
  height:600px;
  visibility:visible;
  pointer-events:none;
  opacity:1;
  transition:300ms;
}

#ps4-demo-profile.hidden {
  visibility:hidden;
  opacity:0;
}

#overlay-profile {
  height:285px;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background:linear-gradient(to bottom, rgba(51,51,51,0.5) 0%,rgba(51,51,51,1) 100%);
}

#user-info {
  position:absolute;
  left:140px;
}

#avatar {
  margin-top:-70px;
  height:220px;
  width:220px;
  float:left;
}

#username {
  color:#FFF;
  margin-top:25px;
  margin-left:20px;
  float:left;
}

#real-name {
  font-size:38px;
  margin-bottom:10px;
}

#psn {
  font-size:22px;
  font-style:italic;
}


/* COVER TOOLS */
#cover-tools-title {
  color:#FFF;
  background:#333;
  font-size:18px;
  text-align:center;
  text-transform:uppercase;
  border-top:1px solid #222;
  border-bottom:1px solid #222;
  height:30px;
  line-height:30px;
  padding:0 6px;
  position:fixed;
  left:0;
  right:0;
  bottom:350px;
  cursor:pointer;
}

#cover-tools-title:hover  { background:#222; }

#cover-tools-offset { margin-bottom:380px; }
#cover-tools {
  height:350px;
  overflow:auto;
  overflow-x:hidden;
  background:#EEE;
  position:fixed;
  left:0;
  right:300px;
  bottom:0;
  z-index:1;
}

#cover-tools-layer-list {
  width:300px;
  height:350px;
  background:#EEE;
  border-left:1px solid #CCC;
  box-sizing:border-box;
  position:fixed;
  right:0;
  bottom:0;
  z-index:1;
}

#layer-list-title {
  color:#FFF;
  text-align:center;
  white-space:nowrap;
  margin:0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:1;
  transition-property:height;
  cursor:pointer;
}

#layer-list-title:hover { background:#06B; }

#layer-list {
  height:310px;
  height:calc(100% - 40px) !important;
  overflow:auto;
  overflow-x:hidden;
  list-style-type:none;
  padding-left:0;
  margin:40px 0 0 0;
}

#layer-list a.cover-layer:first-child { border-top:1px solid #CCC; }

#layer-list a.cover-layer {
  color:#333;
  font-size:14px;
  display:block;
  position:relative;
  padding:0 6px 0 51px;
  border-bottom:1px solid #CCC;
  box-sizing:border-box;
  height:50px;
  line-height:50px;
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

#layer-list a.activeLayer {
  color:#FFF;
  background:#07C;
}

#layer-list a.cover-layer:hover { background:#DDD; }
#layer-list a.activeLayer:hover { background:#06B; }

#layer-list .layer-thumb {
  border:1px solid #CCC;
  display:inline-block;
  position:absolute;
  top:3px;
  left:6px;
  height:40px;
  width:40px;
  pointer-events:none;
}

#layer-list .layer-thumb.fa-font {
  color:#000;
  font-size:36px;
  line-height:40px;
  text-align:center;
}

#layer-list a.activeLayer .layer-thumb { border-color:#049; }

#help-me {
  color:#FFF;
  background:#07C;
  font-size:16px;
  text-transform:uppercase;
  height:30px;
  line-height:30px;
  padding:0 12px;
  position:fixed;
  bottom:351px;
  right:0;
  transition-property:bottom;
}

#help-me:hover { background:#06B; }
#help-me:active { background:#05A; }

#cover-tools, #cover-tools-title, #cover-tools-offset, #help-me, #cover-tools-layer-list, #layer-list-title {
  transition-duration:300ms;
}

/* layer list hidden */
#cover-tools-layer-list.hidden { width:5px; }
#cover-tools-layer-list.hidden + #cover-tools { right:5px; }
#cover-tools-layer-list.hidden #layer-list-title { height:100%; }

/* toolbox hidden */
#cover-tools-title.hidden { bottom:0; }
.hidden #cover-tools, .hidden #cover-tools-layer-list { height:0; }
.hidden + #help-me { bottom:1px; }
.hidden + #help-me + #cover-tools-offset { margin-bottom:30px; }

#cover-tools label {
  font-size:16px;
  font-weight:bold;
  display:inline-block;
  padding-right:6px;
  cursor:pointer;
}

#cover-tools label:hover { color:#000; }

.tools-row { margin:12px 0; }
.tools-row:last-child { margin-bottom:0; }
.tools-row:first-child, .tools-row:first-child .tools-title { margin-top:0; }

#canvas-settings .tools-row {
  float:left;
  width:32%;
  min-height:60px;
  line-height:60px;
  white-space:nowrap;
  margin:0 0 12px 1%;
}

.tools-title {
  color:#FFF;
  background:#07C;
  font-size:18px;
  text-transform:uppercase;
  display:block;
  height:40px;
  line-height:40px;
  padding:0 6px;
  margin:12px 0;
}

.tools-inner { padding:6px; }

/* help icons */
.tools-icon {
  color:#07C;
  font-size:18px;
  position:relative;
  display:inline-block;
  margin:0 3px 0 12px;
}

.tools-icon:first-child { margin-left:0; }

/* blend mode icon */
.fa-square.tools-icon:after {
  content:"\f10C";
  color:#05A;
  position:absolute;
  left:4px;
  top:4px;
}

/* layer styles */
.layer-controls { display:inline-block; }


/* layer controls */
.main-layer-input { margin-top:10px; }
.cover-input-tools { margin-top:6px; }

.layer-coords { float:right; }
.layer-controls {
  float:right;
  margin-top:-10px;
}

.layer-controls a, a.color-stop-button {
  color:#333;
  background:#AAA;
  text-align:center;
  display:inline-block;
  margin:3px;
  border-radius:100%;
  font-size:20px;
  line-height:28px;
  height:28px;
  width:28px;
  cursor:pointer;
}

.layer-controls a:hover, a.color-stop-button:hover {
  color:#FFF;
  background:#07C;
}

.layer-controls a:active, a.color-stop-button:active {
  color:#DDD;
  background:#05A;
}

/* object arrows */
.arrow-box {
  position:relative;
  display:inline-block;
  height:50px;
  width:50px;
  margin:12px 16px;
  vertical-align:-30px;
}

.arrow-box a { position:absolute; }

.arrow-box .fa-arrow-up {
  top:-15px;
  left:8px;
}

.arrow-box .fa-arrow-down {
  bottom:-15px;
  left:8px;
}

.arrow-box .fa-arrow-left {
  top:8px;
  left:-15px;
}

.arrow-box .fa-arrow-right {
  top:8px;
  right:-15px;
}

/* two button layer actions */
.two-buttons {
  position:relative;
  display:inline-block;
  height:50px;
  width:28px;
  margin:12px 3px;
  vertical-align:-30px;
}

.two-buttons a {
  position:absolute;
  left:-3px;
}

.two-buttons a:first-child {
  top:-15px;
  vertical-align:-4px;
}

.two-buttons a:last-child {
  bottom:-15px;
  vertical-align:4px;
}

/* move layer up / down */
.layer-move-box .fa-sort-asc, a.color-stop-button.fa-sort-asc { line-height:37px; }
.layer-move-box .fa-sort-desc, a.color-stop-button.fa-sort-desc { line-height:20px; }

#cover-layers .tools-row:first-child .fa-sort-asc, #cover-layers .tools-row:last-child .fa-sort-desc {
  opacity:0.5;
  cursor:default;
  pointer-events:none;
}

/* delete */
.layer-controls .fa-times:hover, a.color-stop-button.fa-times:hover {
  color:#FFF;
  background:#F66;
}

.layer-controls .fa-times:active, a.color-stop-button.fa-times:active {
  color:#FFF;
  background:#F33;
}

/* no layers message */
#no-layers {
  font-size:16px;
  font-weight:bold;
  text-align:center;
}

/* presets */
.tools-actions select#cover-preset {
  height:38px;
  line-height:38px;
  padding:0 5px;
}

/* add */
.tools-actions a {
  color:#FFF;
  background:#07C;
  border:none;
  font-size:16px;
  text-transform:uppercase;
  display:inline-block;
  height:40px;
  line-height:40px;
  padding:0px 15px;
  outline:none;
  cursor:pointer;
}

a.tools-add { background:#8B5; }
a.tools-add:hover { background:#7A4; }
a.tools-add:active { background:#693; }

a.tools-delete { background:#E53; }
a.tools-delete:hover { background:#D42; }
a.tools-delete:active { background:#C31; }

.tools-actions a i {
  font-size:20px;
  vertical-align:-2px;
  margin-right:6px;
}

/* pseudo checkboxes */
[data-old-checkbox="true"] {
  position:absolute;
  visibility:hidden;
}

.pseudo-checkbox {
  background:#FFF;
  border:1px solid #CCC;
  display:inline-block;
  position:relative;
  line-height:19px;
  height:20px;
  width:20px;
  margin:3px;
  vertical-align:-9px;
  cursor:pointer;
}

[data-old-checkbox="true"]:checked + .pseudo-checkbox:after {
  content:"\f00c";
  color:#07C;
  font-size:18px;
  font-family:FontAwesome;
  position:absolute;
  top:1px;
  left:1px;
}


/* text controls */
#cover-tools input:not([type="range"]):not([type="checkbox"]), #cover-tools select, .layer-button {
  color:#333;
  background:#FFF;
  border:1px solid #CCC;
  font-size:16px;
  padding:0 15px;
  margin:3px;
  height:50px;
  line-height:50px;
  outline:none;
  cursor:pointer;
}

#cover-tools select { box-sizing:content-box; }
.cover-input-value[type="text"] { width:30%; }
input[type="number"] { width:60px; }

.layer-button {
  font-size:26px;
  display:inline-block;
  vertical-align:-4px;
  cursor:pointer;
}

.layer-popup {
  background:#FFF;
  border:1px solid #CCC;
  box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
  padding:3px;
  position:absolute;
  z-index:1;
}

.layer-popup label {
  width:150px;
  text-align:right;
  margin-right:3px;
}

.layer-popup-title {
  font-size:16px;
  font-weight:bold;
  text-align:center;
  padding:6px 0 3px 0;
}

.layer-popup .button {
  font-size:14px;
  padding:9px 18px;
}

.enable-popup-settings ~ .layer-popup-settings {
  opacity:0.5;
  pointer-events:none;
}

.enable-popup-settings + .pseudo-checkbox, .enable-popup-settings:checked ~ .layer-popup-settings {
  opacity:1;
  pointer-events:all;
}

.layer-popup-settings {
  height:150px;
  overflow-y:auto;
  overflow-x:hidden;
  white-space:nowrap;
  padding-right:15px;
  margin-top:6px;
}

.layer-popup-row {
  position:relative;
  margin-bottom:6px;
}

.layer-popup-row.static { position:static; }
.layer-popup-row:last-child { margin-bottom:0; }

#fontawesome-iconlist {
  height:160px;
  width:300px;
  overflow:auto;
  overflow-x:hidden;
}

#fontawesome-iconlist .fa-icon-opt {
  color:#333;
  font-size:30px;
  text-align:center;
  width:40px;
  height:40px;
  line-height:40px;
  cursor:pointer;
}

#fontawesome-iconlist .fa-icon-opt:hover {
  background:rgba(0, 0, 0, 0.2)
}


/* header */
header {
  color:#FFF;
  background:url('images/ps4-logo.png') no-repeat 15px 50% #07C;
  padding:20px 20px 20px 160px;
  position:relative;
  overflow:hidden;
}

header h1 {
  font-size:32px;
  font-family:'Play', Arial;
}

a#home-link { color:#FFF; }
a#home-link:hover { color:#CCC; }
a#home-link:active { color:#FF8; }
a#home-link:before { /* makes the background image clickable */
  content:"";
  position:absolute;
  height:100px;
  width:128px;
  left:14px;
  top:50%;
  margin-top:-50px;
}

#fork-me {
  color:#FFF;
  background:#333;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  line-height:30px;
  height:30px;
  width:200px;
  transform:rotate(45deg);
  position:absolute;
  right:-55px;
  top:30px;
  transition:300ms;
}

#fork-me:hover {
  color:#333;
  background:#FFF;
}


/* footer */
footer {
  color:#FFF;
  background:#07C;
  padding:30px 12px;
}

footer#footer-end {
  background:#05A;
  padding:0 12px;
}

footer > div { padding:6px; }
footer .content-block { padding:0; }

.footer-column {
  width:40%;
  margin-left:10%;
}

.footer-title {
  color:#FFF;
  font-size:24px;
  margin:0;
}

.footer-linklist {
  padding:0;
  list-style-type:none;
}

.footer-linklist li {
  font-size:16px;
  margin:6px 0;
}

footer a { color:#CCC; }
footer a:hover { color:#FFF; }
footer a:active { color:#FF8; }


/* content body */
.content-block {
  max-width:1000px;
  margin:0 auto;
  padding:30px;
}

.title {
  color:#06B;
  font-size:28px;
}

.title-desc {
  font-size:16px;
}

.title-med {
  font-size:18px;
  margin:10px 0;
}

.section-title {
  color:#07C;
  border-bottom:2px solid #07C;
  font-size:24px;
  margin:0;
  padding-bottom:6px;
}

.sub-title {
  font-size:18px;
  margin:16px 0;
}

.site-links {
  padding-left:30px;
  list-style-type:none;
}

.site-links li {
  font-size:16px;
  margin:6px 0;
}

.site-links li:before {
  content:"";
  background:#07C;
  display:inline-block;
  vertical-align:2px;
  margin:0 8px 0 -8px;
  height:8px;
  width:8px;
}

#content p {
  font-size:16px;
}

#preview-title {
  color:#333;
  font-size:32px;
  text-align:center;
}

.bubble {
  color:#FFF;
  background:#333;
  font-size:28px;
  display:inline-block;
  line-height:50px;
  height:50px;
  width:50px;
  border-radius:100%;
  transition:200ms;
}

/* ps buttons */
.ps-button {
  background:#444;
  border-radius:100%;
  display:inline-block;
  height:26px;
  width:26px;
  vertical-align:middle;
  position:relative;
}

.ps-button.sqaure:after {
  content:"";
  border:2px solid #d591bd;
  height:10px;
  width:10px;
  position:absolute;
  top:6px;
  left:6px;
}

.ps-button.cross:after {
  content:"\f00d";
  color:#a1a9d5;
  font-size:20px;
  font-family:FontAwesome;
  font-style:normal;
  text-align:center;
  position:absolute;
  top:2px;
  left:0;
  right:0;
}

/* COLOR PICKER */
.color-inpicker-box, .gradient-button {
  display:inline-block;
  border:2px solid rgba(0, 0, 0, 0.2);
  height:20px;
  width:40px;
  margin:0 3px;
  vertical-align:middle;
  cursor:pointer;
}

.gradient-button {
  background:linear-gradient(to right, white, gray);
  border-color:#666;
}

.gradient-offsets label { width:auto; }
.gradient-type { width:240px; }

.gradient-offsets .layer-popup-row {
  float:left;
  width:45%;
  margin-left:5%;
}

a.color-stop-button.fa-sort-asc { vertical-align:-4px; }
a.color-stop-button.fa-sort-desc { vertical-align:4px; }

.color-stop:last-child .fa-sort-desc, .color-stop:first-child .fa-sort-asc, .color-stop:only-child .fa-times {
  opacity:0.5;
  pointer-events:none;
}

.color-inpicker-box:hover { border-color:rgba(0, 0, 0, 0.4); }
.gradient-button:hover { border-color:#333; }

#color-inpicker-box {
  color:#333;
  background:#FFF;
  border:1px solid #CCC;
  box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
  font-size:14px;
  line-height:12px;
  min-width:300px;
  white-space:normal;
  font-weight:bold;
  font-family:Arial;
  position:absolute;
  padding:6px 12px;
  user-select:none;
  z-index:1;
}

#color-inpicker-box .color-inpicker-row { margin:6px 0; }
#color-inpicker-box .color-inpicker-row span { display:inline-block; }

#color-inpicker-box #color-value-red { color:#F00; }
#color-inpicker-box #color-value-green { color:#090; }
#color-inpicker-box #color-value-blue { color:#00F; }

#color-inpicker-box .color-label {
  text-align:right;
  width:60px;
}

#color-inpicker-box .color-bar {
  border:1px solid #CCC;
  width:120px;
  height:20px;
  vertical-align:middle;
  position:relative;
  overflow:hidden;
}

#color-inpicker-box .color-bar-inner {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}

#color-inpicker-box .color-down, #color-inpicker-box .color-up {
  width:0;
  height:0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  margin:0 6px;
  vertical-align:middle;
  cursor:pointer;
}

#color-inpicker-box .color-down {
  border-right:15px solid #999;
}

#color-inpicker-box .color-up {
  border-left:15px solid #999;
}

#color-inpicker-box .color-up:hover { border-left-color:#666; }
#color-inpicker-box .color-down:hover { border-right-color:#666; }

#color-inpicker-box .color-up:active { border-left-color:#333; }
#color-inpicker-box .color-down:active { border-right-color:#333; }

#color-inpicker-box .color-value {
  text-align:center;
  width:30px;
}

#color-value-result {
  height:20px;
  width:100%;
  border:1px solid #CCC;
}

/* presets */
#color-inpicker-presets {
  max-width:260px;
  line-height:0;
  text-align:center;
  margin:0 auto;
}

#color-inpicker-presets a {
  display:inline-block;
  height:15px;
  width:15px;
  border:1px solid #FFF;
  margin:-1px 0 0 -1px;
}

#color-inpicker-presets a:hover {
  position:relative;
  border-color:#000;
}

/* random color */
#color-inpicker-presets a.fa-random {
  color:#FFF;
  font-size:14px;
  width:31px;
  background-color:#000;
  transition-property:background-color;
  transition-duration:1000ms;
}

#color-inpicker-presets .fa-random:before {
  position:absolute;
  margin-left:-6.5px;
  margin-top:1px;
}


/* NUMBER INPUT ARROWS */
.Inumber-arrows {
  position:absolute;
  width:24px;
  margin-left:-27px;
  margin-top:3px;
  transition:300ms;
}

.Inumber-arrows > span {
  width:0;
  height:0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  cursor:pointer;
  position:absolute;
}

.Inumber-up {
  border-bottom:18px solid #DDD;
  top:5px;
}

.Inumber-down {
  border-top:18px solid #DDD;
  bottom:5px;
}

[data-inumbered="true"]:hover + .Inumber-arrows .Inumber-up, .Inumber-arrows:hover .Inumber-up { border-bottom-color:#999; }
[data-inumbered="true"]:hover + .Inumber-arrows .Inumber-down, .Inumber-arrows:hover .Inumber-down { border-top-color:#999; }

.Inumber-arrows .Inumber-up:hover { border-bottom-color:#666; }
.Inumber-arrows .Inumber-down:hover { border-top-color:#666; }

.Inumber-arrows .Inumber-up:active { border-bottom-color:#333; }
.Inumber-arrows .Inumber-down:active { border-top-color:#333; }


/* IMAGE SELECTOR */
.overlay {
  background:rgba(0, 0, 0, 0.7);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  cursor:pointer;
}

.loading {
  text-align:center;
  font-size:24px;
}

#select-image-modal {
  background:#FFF;
  border:1px solid #CCC;
  position:fixed;
  top:50px;
  left:50px;
  right:50px;
  bottom:50px;
}

#select-image-overlay, #select-image-modal {
  z-index:20;
}

#select-image-title {
  color:#FFF;
  text-align:center;
  background:#07C;
  height:55px;
  line-height:55px;
  padding:0 12px;
  margin:-1px -1px 0 -1px;
}

#select-image-stats {
  font-size:16px;
  text-align:center;
  margin:0;
}

#select-image-container {
  height:90%;
  height:calc(100% - 55px);
  overflow-x:hidden;
  overflow-y:auto;
}

#select-image-list { padding:0.5% 0 52px 0; }

.select-image-category {
  background-color:#EEE;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #CCC;
  height:200px;
  width:19%;
  margin:0.5%;
  box-sizing:border-box;
  display:inline-block;
  position:relative;
  cursor:pointer;
}

.select-image-total {
  color:#666;
  position:absolute;
  right:3px;
  bottom:3px;
}

.select-image-option {
  display:flex;
  justify-content:center;
  align-items:center;
  float:left;
  height:200px;
  width:19%;
  margin:0.5%;
  position:relative;
  overflow:hidden;
  cursor:pointer;
}

.select-image-option img {
  max-width:100%;
  max-height:100%;
}

/* image / layer placeholder */
.select-image-placeholder {
  color:#333;
  font-size:64px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

/* fadeInOut visibility */
.select-image-option img, .select-image-placeholder {
  transition-property:opacity, visibility;
  transition-duration:1000ms;
  pointer-events:none;
}

.select-image-option img, .select-image-option[data-hidden="true"] .select-image-placeholder {
  opacity:1;
  visibility:visible;
}

.select-image-option[data-hidden="true"] img, .select-image-placeholder {
  opacity:0;
  visibility:hidden;
}

.select-image-option:hover { opacity:0.5; }
.select-image-category:hover { background-color:#DDD; }

.select-image-button {
  color:#FFF;
  background:#05A;
  font-size:16px;
  height:30px;
  line-height:32px;
  font-weight:bold;
  text-transform:uppercase;
  border-radius:5px;
  padding:0 12px;
  position:absolute;
  cursor:pointer;
  transition:200ms;
}

.select-image-button:hover {
  color:#333;
  background:#FFF;
}

.select-image-back {
  top:12px;
  left:12px;
}

.select-image-close {
  top:12px;
  right:12px;
}

a.select-image-action {
  color:#FFF;
  background:#07C;
  font-size:18px;
  text-align:center;
  text-transform:uppercase;
  display:inline-block;
  width:200px;
  height:40px;
  line-height:40px;
}

.select-image-request {
  text-align:center;
  position:absolute;
  left:0;
  right:17px;
  bottom:3px;
}

.isPS4 .select-image-request { right:6px; }
.select-image-request a { border-top:2px solid #06B; }

a.select-image-load {
  display:block;
  clear:both;
  position:relative;
  top:75px;
  margin:0 auto 150px;
}

[data-fully-loaded="true"] .select-image-load { display:none; }

a.select-image-action:hover { background:#06B; }
a.select-image-action:active { background:#05A; }


/* IMGUR SEARCH */
#imgur-search-form {
  background:#FFF;
  background:rgba(255, 255, 255, 0.7);
  text-align:center;
  position:absolute;
  left:0px;
  right:17px;
  z-index:1;
}
.isPS4 #imgur-search-form { right:7px; }
#imgur-search-form + #select-image-list { margin-top:60px; }

#imgur-search {
  color:#333;
  background:#FFF;
  border:1px solid #CCC;
  font-size:18px;
  height:50px;
  line-height:50px;
  width:90%;
  padding:0 16px;
  margin:8px 0;
  outline:none;
  cursor:pointer;
}

#imgur-message {
  color:#333;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  margin:30px 0;
  clear:both;
}


/* TUTORIAL */
#tutorial-overlay {
  z-index:10;
  opacity:0.5;
  cursor:default;
}

#tutorial-messages {
  top:1%;
  left:1%;
  right:1%;
  background:#FFF;
  border:1px solid #CCC;
  padding:3px;
  position:fixed;
  z-index:12;
}

#tutorial-message-box {
  font-size:18px;
  margin:0;
  height:100px;
  overflow-y:auto;
  overflow-x:hidden;
}

#tutorial-buttons { text-align:center; }

#tutorial-button-next {
  font-size:16px;
  padding:10px 16px;
}

#tutorial-button-next[disabled] {
  opacity:0.5;
  cursor:default;
}

#tutorial-progress {
  color:#FFF;
  background:#333;
  font-size:16px;
  height:30px;
  line-height:30px;
  margin:6px 0;
  position:relative;
}

#tutorial-progress-bar { background:#07C; }
#tutorial-progress-bar, #tutorial-progress-text {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
}

#tutorial-progress-text {
  right:0;
  text-align:center;
}

/* fix element display in tutoral */
.inTutorial #cover-image-box { position:static; }
.inTutorial #ps4-demo-profile { top:auto; }
.inTutorial #ps4-demo-profile[style*="relative"] {
  margin-bottom:-600px;
  z-index:12 !important;
}

/* prevent certain actions while the tutorial is in effect */
.inTutorial { overflow:hidden; }
.inTutorial #select-image-overlay, .inTutorial[data-fullscreen="true"] #cover-tools-title {
  pointer-events:none;
}

.inTutorial .select-image-close, .inTutorial .select-image-request, [data-tutorial-noclick="true"] a, [data-tutorial-noclick="true"] input, [data-tutorial-noclick="true"] label, [data-tutorial-noclick="true"] select {
  pointer-events:none;
  opacity:0.7;
}

/* focus a tutorial element */
[data-tutorial-focus="true"] { z-index:11 !important; }

@keyframes event {
  0% { outline-color:#F00; }
  50% { outline-color:transparent; }
  100% { outline-color:#F00; }
}

[data-tutorial-event="true"] {
  pointer-events:auto !important;
  opacity:1 !important;
  outline:#F00 solid 3px !important;
  animation:event ease-in infinite 1.5s;
}

#color-inpicker-box a {
  pointer-events:auto;
  opacity:1;
}

.inTutorial #cover-layers .tools-row:first-child .fa-sort-asc, .inTutorial #cover-layers .tools-row:last-child .fa-sort-desc {
  opacity:0.5 !important;
  pointer-events:none !important;
}


/* FULLSCREEN */
body[data-fullscreen="true"] {
  overflow:hidden !important;
}

#cover-image-box[data-fullscreen="true"] {
  background:#FFF;
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:50%;
  overflow:auto;
  overflow-x:hidden;
}

#cover-tools-title[data-fullscreen="true"] {
  bottom:50%;
  bottom:calc(50% - 30px);
}

#cover-tools-box[data-fullscreen="true"] + #help-me {
  bottom:50%;
  bottom:calc(50% - 29px);
}

#cover-tools-box[data-fullscreen="true"] #cover-tools, #cover-tools-box[data-fullscreen="true"] #cover-tools-layer-list {
  height:50%;
  height:calc(50% - 30px);
}


/* responsiveness */
@media (max-width:720px) {
  header {
    padding:105px 0px 0px 0px;
    text-align:center;
    background-position:50% 10px;
  }

  header h1 {font-size:24px }

  a#home-link:before {
    content:"";
    position:absolute;
    height:100px;
    width:128px;
    top:60px;
    left:50%;
    margin-left:-65px;
  }
  
  footer { text-align:center; }
  footer > div, header > *, .footer-column { float:none !important; }

  .footer-column {
    width:100%;
    margin:0 0 24px 0;
  }

  .footer-column:last-child {
    margin-bottom:0;
  }
}

@media (max-width:1280px) {
  .select-image-category {
    height:150px;
    background-size:90% auto;
  }
}

@media (max-width:1000px) {
  #canvas-settings .tools-row {
    width:100%;
    float:none;
  }

  #canvas-settings label {
    text-align:right;
    width:200px;
  }

  #cover-tools { right:200px; }
  #cover-tools-layer-list { width:200px; }
}


@media (max-height:800px) {
  #cover-tools-title { bottom:300px; }
  #cover-tools, #cover-tools-layer-list { height:300px; }
  #help-me { bottom:301px; }
  #cover-tools-offset { margin-bottom:330px; }
  #layer-list { height:260px; }
}

@media (max-height:600px) {
  #cover-tools-title { bottom:200px; }
  #cover-tools, #cover-tools-layer-list { height:200px; }
  #help-me { bottom:201px; }
  #cover-tools-offset { margin-bottom:230px; }
  #layer-list { height:160px; }
}